<div class="container">
  <app-page-header title="Informações detalhadas"></app-page-header>

  <div class="page-info">
    <h2>{{ categoryName }} - ID #{{ resourceId }}</h2>
    <p>Informações detalhadas sobre o objeto de sua escolha.</p>
  </div>

  <div class="content">
    <div class="detailed-info-container">
      <h2>ID #{{ resourceId }}</h2>
      <hr>
        <div class="info">
          @for (header of resource.headers; track $index) {
            <p><span>{{ header.formatted }}:</span> {{ getColumnValue(resource.data, header.formatted) }}</p>
          }
        </div>
    </div>
  </div>

  <p class="data-source-info">Dados retirados da API do <a href="https://portaldatransparencia.gov.br/" target="_blank">Portal da Transparência do Governo Federal</a>.</p>
</div>
