<div class="container">
  <app-toast></app-toast>
  <app-page-header
    title="Feed"
  >
    <app-button
      theme="primary"
      (click)="toggleCreatePostModal()"
    >
      Criar novo tópico
    </app-button>

    <app-button
      theme="primary"
    >
      <img src="../../../assets/icons/refresh.svg" alt="">
    </app-button>

  </app-page-header>

  <div class="filter-options-container">
    <p>Filtrar:</p>

    <app-button
    (click)="toggleSort('likes')"
    [theme]="sortBy === 'likes' ? 'active' : 'default'"
    >
      @if (sortBy === 'likes' && sortOrder === 'asc') {
        <img src="../../../assets/icons/sort-asc.svg" alt="">
      } @else if (sortBy === 'likes' && sortOrder === 'desc') {
        <img src="../../../assets/icons/sort-desc.svg" alt="">
      }
      Curtidas
    </app-button>

    <app-button
      (click)="toggleSort('comments')"
      [theme]="sortBy === 'comments' ? 'active' : 'default'"
    >
      @if (sortBy === 'comments' && sortOrder === 'asc') {
        <img src="../../../assets/icons/sort-asc.svg" alt="">
      } @else if (sortBy === 'comments' && sortOrder === 'desc') {
        <img src="../../../assets/icons/sort-desc.svg" alt="">
      }
      Comentários
    </app-button>

    <app-button
      (click)="toggleSort('date')"
      [theme]="sortBy === 'date' ? 'active' : 'default'"
    >
      @if (sortBy === 'date' && sortOrder === 'asc') {
        <img src="../../../assets/icons/sort-asc.svg" alt="">
      } @else if (sortBy === 'date' && sortOrder === 'desc') {
        <img src="../../../assets/icons/sort-desc.svg" alt="">
      }
      Data de publicação
    </app-button>
  </div>

  <div class="feed-container">
    @for (post of posts; track post.id) {
      <app-feed-post
        [userId]="post.userId"
        [title]="post.title || 'Sem título'"
        [description]="post.desc || 'Sem descrição'"
        [date]="post.pubDate"
        [likes]="post.likes"
        [tags]="post.tags"
      ></app-feed-post>
    }
  </div>

  @if (isCreatePostModalOpen) {
    <div
      class="modal-overlay"
      (click)="toggleCreatePostModal()"
      [className]="isCreatePostModalOpen && 'modal-overlay open'"
    >
      <div class="modal-content" (click)="$event.stopPropagation()">
        <h2>Criar Novo Tópico</h2>

        <form
          [formGroup]="postForm"
          (ngSubmit)="createPost()"
        >
          <div class="form-group">
            <label for="title">Título*</label>
            <input
              id="title"
              type="text"
              formControlName="title"
              name="title"
              placeholder="Título do tópico"
              autocomplete="off"
              required
            />
          </div>

          <div class="form-group">
            <label for="desc">Descrição*</label>
            <textarea
              id="desc"
              formControlName="desc"
              name="desc"
              placeholder="Descrição do tópico"
              autocomplete="off"
              required
            >
            </textarea>
          </div>

          <div class="form-group">
            <label for="tags">Tags</label>
            <input
              id="tags"
              type="text"
              formControlName="tags"
              name="tags"
              placeholder="Tags do tópico"
              autocomplete="off"
            />
            <small>* Insira as tags separadas por espaço.</small>
          </div>

          <div class="modal-options">
            <app-button
              theme="primary"
              type="submit"
            >
              Criar
            </app-button>
            <app-button
              theme="default"
              type="button"
              (click)="toggleCreatePostModal()"
            >
              Cancelar
            </app-button>
          </div>
        </form>
      </div>
    </div>
  }

</div>
