<div class="container">
  <div class="user-picture">
    <img [src]=" userAvatar || '../../../assets/images/feed-post-user-pic.png'" alt="Foto de perfil do usuário">
  </div>

  <div
    class="post-content"
    [ngClass]="{ 'expanded': isExpanded }"
  >
    <p class="title">&#64;{{ userName }} - {{ title }}</p>
    <p>Postado em {{ date | date: 'dd MMM yyyy' }} -  {{ date | date: 'hh:mm'}}</p>
    <p
      class="description"
      [ngClass]="{ 'expanded': isExpanded }"
    >
      {{ description }}
    </p>

    <div class="tags">
      @for (tag of tagsArray; track $index) {
        <p>{{ tag }}</p>
      }
    </div>
    @if (isExpanded) {
    }
  </div>

  <div class="options">
    <app-button
      theme="default"
      (click)="toggleExpand()"
    >
    {{ isExpanded ? 'Fechar' : 'Expandir' }}
    </app-button>

    <div class="interactions">
      <app-button
        (click)="toggleLike()"
      >
        @if (userLiked) {
          <img src="../../../assets/icons/liked.svg" alt="">
        } @else {
          <img src="../../../assets/icons/like.svg" alt="">
        }
        {{ likes.length }}
      </app-button>

      <app-button
      >
        <img src="../../../assets/icons/comment.svg" alt="">
        {{ comments.length }}
      </app-button>
    </div>
  </div>
</div>
