<div class="container">
  <div class="user-picture">
    <img src="../../../assets/images/feed-post-user-pic.png" alt="Foto de perfil do usuário">
  </div>

  <div class="post-content">
    <p class="title">&#64;usuário - Título da postagem</p>
    <p>Postado 5 horas atrás</p>
    <p>Descrição da postagem</p>
  </div>

  <div class="options">
    <app-button
      theme="default"
    >
      Expandir
    </app-button>

    <div class="interactions">
    <app-button
    >
      <img src="../../../assets/icons/like.svg" alt="">
      60
    </app-button>

    <app-button
    >
      <img src="../../../assets/icons/comment.svg" alt="">
      10
    </app-button>
    </div>
  </div>
</div>
