<header>
  <div class="content">
    <div class="logo" [routerLink]="['/feed']">
      <img src="../../../assets/icons/logo.svg" alt="">
      <h2>CIDADÃO CONECTADO</h2>
    </div>

    <nav>
      @if(!isAtHome) {
        <a
          [routerLink]="['/feed']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <img src="../../../assets/icons/feed.svg" alt="">
          Feed
        </a>

        <a
          [routerLink]="['/consultar']"
          routerLinkActive="active"
        >
          <img src="../../../assets/icons/consultar.svg" alt="">
          Consultar
        </a>
      }


      @if (isAuthenticated) {
        <app-user-profile></app-user-profile>
      } @else {
        <a (click)="login()">
          <img src="../../../assets/icons/login.svg" alt="Icon for Login">
          Fazer login
        </a>
      }
    </nav>
  </div>
</header>
