header {
  width: 100%;
  padding: 1.2rem 2rem;
  border-radius: 10px;
  background-color: var(--blue-primary);
  box-shadow: var(--box-shadow);
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: .5rem;
  color: #ffffff;
  font-size: .9rem;
}

.logo h2 {
  display: none;
}

.logo:hover {
  cursor: pointer;
  user-select: none;
}

nav {
  color: #ffffff;
  display: flex;
  align-items: center;
  gap: 1rem;
  transition: all 0.3s ease;
}

nav a {
  display: flex;
  align-items: center;
  font-weight: 500;
  gap: .3rem;
  transition: .3s;
  padding: 5px 10px;
  border-radius: 5px;
}

nav a:hover {
  background-color: var(--blue-secundary);
  cursor: pointer;
}

nav a.active {
  background-color: var(--blue-secundary);
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.menu-toggle img {
  width: 30px;
  height: 30px;
}

nav {
  display: flex;
}

@media screen and (min-width: 1200px) {
  .content {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }
}

@media screen and (max-width: 785px){
  .menu-toggle {
    display: block;
  }

  nav {
    position: absolute;
    left: 0;
    right: 0;
    background-color: var(--blue-primary);
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0;
    transform: translateY(-100%);
    transition: transform 0.3s ease;
    z-index: 10;
  }

  nav.active {
    margin: 0 auto;
    width: 90%;
    border-radius: 10px;
    transform: translateY(150px);
  }

  nav a {
    width: 100%;
    text-align: center;
    padding: 10px 1rem;
  }
}

@media screen and (min-width: 786px){
  .logo h2 {
    display: block;
  }

  nav {
    display: flex;
    position: initial;
  }
}
