<div class="container">
  <app-toast></app-toast>
  <app-page-header
    title="Consultar"
  >
  </app-page-header>

  <div class="page-info">
    <h2>Realize suas consultas no portal da transparência.</h2>
    <ul>
      <li>Selecione o objeto de sua consulta e tenha acesso à uma tabela com informações gerais sobre o objeto selecionado.</li>
      <li>Você também pode filtrar a tabela por palavras-chave ou por ordená-la por coluna.</li>
      <li>Se desejar obter mais informações sobre algum dos registros da tabela, clique no registro em questão e tenha acesso a informações detalhadas sobre ele.</li>
    </ul>
  </div>

  <div class="consult-container">
    <div class="category-selector-container">
      <a
        class="category-option"
        [class.selected]="selectedCategory === 'resigns'"
        (click)="selectCategory('resigns')"
      >
        Renúncias Fiscais
      </a>
      <a
        class="category-option"
        [class.selected]="selectedCategory === 'family-scholarships'"
        (click)="selectCategory('family-scholarships')"
      >
        Bolsa Família
      </a>
      <a
        class="category-option"
        [class.selected]="selectedCategory === 'adments'"
        (click)="selectCategory('adments')"
      >
        Despesas Públicas
      </a>
    </div>

    @if (selectedCategory === 'family-scholarships') {
      <form
        [formGroup]="searchForm"
        (submit)="searchFamilyScholarships($event)"
      >
        <div>
          <select formControlName="city" name="" id="" required>
            <option value="2914802">
              Itabuna
            </option>
            <option value="2913606">
              Ilhéus
            </option>
          </select>

          <select formControlName="month" name="" id="" required>
            <option value="01">Janeiro</option>
            <option value="02">Fevereiro</option>
            <option value="03">Março</option>
            <option value="04">Abril</option>
            <option value="05">Maio</option>
            <option value="06">Junho</option>
            <option value="07">Julho</option>
            <option value="08">Agosto</option>
            <option value="09">Setembro</option>
            <option value="10">Outubro</option>
            <option value="11">Novembro</option>
            <option value="12">Dezembro</option>
          </select>

          <input
            type="number"
            name=""
            id=""
            min="2000"
            max="2024"
            formControlName="year"
            required
          >
        </div>

        <app-button
          type="submit"
          theme="primary"
        >
          Pesquisar
        </app-button>


      </form>
    }

    <div class="table-container">
      <table>
        <thead>
          <tr>
            @for (header of categories[selectedCategory].headers; track $index) {
              <th>{{ header }}</th>
            }
          </tr>
        </thead>

        <tbody>
          @for (row of categories[selectedCategory].data; track row.id) {
            <tr
              (click)="selectedCategory !== 'family-scholarships' ? navigateToDetailedConsult(row.id) : null"
            >
              @for (header of categories[selectedCategory].headers; track $index) {
                <td
                  attr.data-label="{{ categories[selectedCategory].headers[$index] }}"
                >
                  {{ getColumnValue(row, header) }}
                </td>
              }
            </tr>
          }
        </tbody>
      </table>
    </div>
    <p class="data-source-info">Dados retirados da API do <a href="https://portaldatransparencia.gov.br/" target="_blank">Portal da Transparência do Governo Federal.</a></p>
  </div>

</div>
