<div class="container">
  <app-page-header
    title="Consultar"
  >
  </app-page-header>

  <div class="page-info">
    <h2>Realize suas consultas no portal da transparência.</h2>
    <ul>
      <li>Selecione o objeto de sua consulta e tenha acesso à uma tabela com informações gerais sobre o objeto selecionado.</li>
      <li>Você também pode filtrar a tabela por palavras-chave ou por ordená-la por coluna.</li>
      <li>Se desejar obter mais informações sobre algum dos registros da tabela, clique no registro em questão e tenha acesso a informações detalhadas sobre ele.</li>
    </ul>
  </div>

  <div class="consult-container">
    <div class="category-selector-container">
      <a
        class="category-option"
        [class.selected]="selectedCategory === 'resigns'"
        (click)="selectCategory('resigns')"
      >
        Renúncias Fiscais
      </a>
      <a
        class="category-option"
        [class.selected]="selectedCategory === 'family-scholarships'"
        (click)="selectCategory('family-scholarships')"
      >
        Bolsa Família
      </a>
      <a
        class="category-option"
        [class.selected]="selectedCategory === 'adments'"
        (click)="selectCategory('adments')"
      >
        Despesas Públicas
      </a>
    </div>

    <div class="table-container">
      <table>
        <thead>
          <tr>
            @for (header of categories[selectedCategory].headers; track $index) {
              <th>{{ header }}</th>
            }
          </tr>
        </thead>

        <tbody>
          @for (row of categories[selectedCategory].data; track $index) {
            <tr
              (click)="navigateToDetailedConsult($index)"
            >
              @for (header of categories[selectedCategory].headers; track $index) {
                {{ getColumnValue(row, header) | currency: 'BRL' }}
              }
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>

</div>
