<div class="container">
  <app-page-header
    title="Consultar"
  >
  </app-page-header>

  <div class="page-info">
    <h2>Realize suas consultas no portal da transparência.</h2>
    <ul>
      <li>Selecione o objeto de sua consulta e tenha acesso à uma tabela com informações gerais sobre o objeto selecionado.</li>
      <li>Você também pode filtrar a tabela por palavras-chave ou por ordená-la por coluna.</li>
      <li>Se desejar obter mais informações sobre algum dos registros da tabela, clique no registro em questão e tenha acesso a informações detalhadas sobre ele.</li>
    </ul>
  </div>

  <div class="consult-container">
    <div class="category-selector-container">
      <a
        class="category-option"
        [class.selected]="selectedCategory === 'renuncias'"
        (click)="selectCategory('renuncias')"
      >
        Renúncias Fiscais
      </a>
      <a
        class="category-option"
        [class.selected]="selectedCategory === 'bolsa-familia'"
        (click)="selectCategory('bolsa-familia')"
      >
        Bolsa Família
      </a>
      <a
        class="category-option"
        [class.selected]="selectedCategory === 'despesas'"
        (click)="selectCategory('despesas')"
      >
        Despesas Públicas
      </a>
    </div>

    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>Ano</th>
            <th>Tipo de renúncia</th>
            <th>Valor renunciado</th>
            <th>Tributo</th>
            <th>Razão Social</th>
            <th>Município</th>
            <th>UF</th>
          </tr>
        </thead>

        <tbody>
          @for (row of data; track $index) {
            <tr
              (click)="navigateToDetailedConsult($index)"
            >
              <td>{{ row.ano }}</td>
              <td>{{ row.tipoRenuncia }}</td>
              <td>{{ row.valorRenunciado | currency: 'BRL' }}</td>
              <td>{{ row.tributo }}</td>
              <td>{{ row.razaoSocial }}</td>
              <td>{{ row.municipio }}</td>
              <td>{{ row.uf }}</td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>

</div>
