<div class="container">
  <h1>{{ title }}</h1>
  <div class="options">
    <ng-content></ng-content>

    @if (isAuthenticated) {
      <div class="user-profile-container">
        <div class="user-picture">
          <img [src]="profile?.picture || '../../../assets/images/feed-post-user-pic.png'" alt="">
        </div>

        <p class="name">{{ profile?.name }}</p>

        <app-button
          (click)="logout()"
        >
          <img src="../../../assets/icons/logout.svg" alt="">
        </app-button>
      </div>
    } @else {
      <app-button
        theme="primary"
        (click)="login()"
      >
        <img src="../../../assets/icons/login.svg" alt="">
        Fazer login
      </app-button>
    }
  </div>
</div>
