.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.container h1 {
  color: var(--secundary-text);
}

.options {
  display: flex;
  align-items: center;
  gap: 1rem;
}


