:root {
  --blue-primary: #4A46CC;
  --blue-secundary: #6D7FEB;
  --secudary-text: #3F3E3E;
  --box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  font-family: 'Inter', sans-serif;
  max-width: 100vw;
  min-height: 100vh;
  padding: 1rem;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}
